.body{
    --ion-background-color:#013220;
}
.name1{
    text-align: center;
}
.content{
    text-align: center;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    color:grey;
    font-size: larger;
}
