.name2{
    text-align: center;
}
.body{
    --ion-background-color: rgb(99, 172, 182);
}
.content2{
    text-align: center;
    text-align: justify;
    margin-left: 25%;
    margin-right: 5%;
    color: black;
    font-size: larger;
}

.contact-icons{
    width: 10%;
    height: 50px;
    margin-left: 45%;
}

.contacts{
    text-align: center;
    font-weight: bold;
}