.body{
    --ion-background-color: rgb(99, 172, 182);
}
.name3{
    text-align: center;
}
.content3{
    text-align: center;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    font-size: larger;
}