.FHeader{
    --ion-background-color: #073351;
}
.TitleName{
    color: #5ce1e6;
}

.ContentBlock{
    --ion-background-color: white;
    --color: #5ce1e6;
}

.LblName{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.link1{
    text-align: center;
}

.logo2{
    width: 60%;
    height: 300px;
    margin-left: 20%;
}

.svgs{
    width:40px;
}

.emaill{
    background-color: whitesmoke;
    width: 70%;
    margin-left: 15%;
    height: 45px;
    border-radius: 10px;
    border: solid black;
}

.password{
    background-color: whitesmoke;
    width: 70%;
    height: 45px;    
    margin-left: 15%;
    border-radius: 10px;
    border: solid black;
}

.Cpassword{
    background-color: whitesmoke;
    width: 70%;
    height: 45px;   
    margin-left: 15%; 
    border-radius: 10px;
}

.NewAccount{
    text-align: center;
}

.popup{
    width: 50%;
    height:100px;
    margin-left: 25%;
}
.popover-content{
    --background: black;
    width: 40%;
    margin-left: 0% ;
}

.feedback{
    color: yellowgreen;
    font-weight: bolder;
    text-align: center;
    width: 40%;
    margin-left: 15%;
}

.link{ 
    text-align: center;
}

@keyframes wethuz {
    0%   {width: 50%; margin-left: 25%}
    25%  {width: 30%; margin-left: 35%}
    50%  {width: 50%; margin-left: 25%}
    75%  {width: 30%; margin-left: 35%}
    100% {width: 50%; margin-left: 25%}
}
  
.WethuAnimation{
    width: 50%;
    height: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 0%;
    animation-name: wethuz;
    animation-duration: 25s;
    margin-left: 25%;
    animation-iteration-count: 5;
}

.card{
    background-color: #5ce1e6;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    color: black;
    height: 230px;
    border-radius: 20px;
}
.title{
    margin-top: 40px;
    font-weight: 700;
}

.LBtn{
    width: 40%;
    color: #5ce1e6;
    background-color: #073351;
    margin-top: 10px;
    border-radius: 10px;
    margin-left: 30%;
}
.title {
    color: black;
}

.content{
    font-size: 16pt;
    margin-top: 20px;
}
ion-label{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 20%;
    color: black;
}


/*buttons*/
ion-button{
    height:40px;
    width: 30%;
    margin-left: 35%;
    color:rgb(113, 239, 248);
    font-weight: bold;
    background-color: #073351;
}


.form{
    border-radius: 50px;
}

.logo{
    width: 50%;
    height: 300px;
    margin-left: 25%;
}

.svgs{
    width:20px;
}

.fingerb{
    height:40px;
    width: 40%;
    margin-left: 30%;
    color:rgb(113, 239, 248);
    font-weight: bold;
    background-color: #073351;

}

.email{
    background-color: whitesmoke;
    width: 50%;
    height: 45px;
    margin-left: 25%;
    border-radius: 8px;
}
.skills{
    height: 80px;
    width:50%;
    margin-left: 25%;
    border-radius: 8px;
}


.popover-content{
    --background: black;
    width: 40%;
    margin-left: 7% ;
    align-content: center;
}

.button-LBtn{
    height:40px;
    width: 20%;
    margin-left: 40%;
    color: black;
    font-weight: bold;
    background-color: #073351;
}

.logo1{
    width: 50%;
    height: 300px;
    margin-left: 25%;
}

.content {
    text-align: center;
}

.ForgotPassword{
    text-align: center;
}


